.nav {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.card {
  background-color: gray;
  width: 220px;
  height: 200px;
  margin: 20px;
  padding: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}
/* .count{
  display: flex;
} */